<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
      background-color: #f5f5f5;
    }
  </style>
</head>
<body>
<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">FILMWEB 2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Lista wszystkich filmów<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/movie/new/">Dodaj film</a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/actors/">Lista wszystkich aktorów<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/actor/new/">Dodaj aktora</a>
    </div>
  </div>
</nav>
<!-- Nav -->

<!-- table -->
<table class="table">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col-1">#</th>
      <th scope="col" class="col-2">Aktor</th>
      <th scope="col" class="col-2">Data urodzenia</th>
      <th scope="col" class="col-2">Płeć</th>
    </tr>
  </thead>
  <tbody>
    {% for actor in actors %}
    <tr class="d-flex">
      <th scope="row" class="col-1">{{ actor.id }}</th>
      <td class="col-2">
        <a href="/actor/{{ actor.id }}/">{{ actor.actor_name }}</a>
      </td>
      <td class="col-2">{{ actor.year_of_birth }}</td>
      <td class="col-2">{{ actor.gender }}</td>
      <td class="col-1">
        <a href="/actor/modify/{{ actor.id }}/">edytuj</a>
      </td>
      <td class="col-1">
        <a href="/actor/delete/{{ actor.id }}/">usuń</a>
      </td>
    </tr>
    {% empty %}
      <tr><td colspan="6">Brak aktorów</td></tr>
    {% endfor %}
  </tbody>
</table>
<!-- table -->
<br>
<!-- Form -->
<h3>Wyszukiwanie</h3>
<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="actor-name">Aktor</label>
        <input type="text" class="form-control" id="actor-name" aria-describedby="actor-name-help" placeholder="Aktor" name="actor-name">
        <small id="actor-name-help" class="form-text text-muted">Aktor musi być prawdziwy.</small>
      </div>
      <div class="form-group">
        <label for="year_of_birth">Data urodzin</label>
        <input type="date" id="year_of_birth" name="year_of_birth" max="2021-12-31"
               min="1900-01-01" class="form-control">
      </div>
      <div class="form-group">
        <label for="gender">Płeć aktora. Podaj numer zgodny z kodem.</label>
        <input type="number" step="1" class="form-control" id="gender" placeholder="Kod płci (0-2)" name="gender">
        <small id="gender-help" class="form-text text-muted">
        0 - Nie chcę podawać,
        1 - Mężczyzna,
        2 - Kobieta,
        </small>
      </div>
      <button type="submit" class="btn btn-primary">Szukaj</button>
    </form>
  </div>
</div>
<!-- Form -->


<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.3);">
    Kamil Klekotka:
    <a class="text-dark" href="https://mdbootstrap.com/">https://github.com/Daniken94/Podstawy_Django_zadanie_domowe</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>